# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- List commonly used Data Science tools
- Show arithmetic expressions evaluated in Python

Some of the popular languages that Data Scientists use are:

    1. Python
    2. Java
    3. R
    4. SQL

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas
    2. TensorFlow
    3. PyTorch
    4. Matplotlib

| Data Science Tools |
| ------------------ |
| MySQL |
| Prediction IO |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Brendan Creavin